*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    background-color: rgb(102, 57, 150);
    color: black;
    border-radius: 20%;
    width: 200PX;
    text-align: center;
}
.text-verde {
    background-color: green;
}
p{
    background-color: rgb(132, 82, 1);
}